# ROS 2 Build Artifacts
build/
install/
log/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

#docker image container

parol6-ultimate-with-servo.tar.gz
parol6-ultimate-with-servo-updated.tar.gz
parol6-ultimate.tar.gz
parol6-ultimate-with-kinect.tar.gz
parol6-ultimate-with-kinect-updated-tar.gz
# MoveIt source dependencies (should not be committed)
moveit2/
moveit_msgs/
moveit_resources/
moveit_task_constructor/

#python vision libraries:
python vison libs
#microros ignore in camera branch
microros_esp32/
# IDE
.vscode/
.idea/
*.swp
*.swo
*~
color images to calibrate/
vision_work/
libfreenect2
IR_Images_ToCalibrate/
src/kinect2_ros2/

# OS
.DS_Store
Thumbs.db
logs/*.csv

# Extracted datasets (RGB and Depth images)
vision_work/extracted_dataset/*
vision_work/rosbags/*
vision_work/Checkboards/*
vision_work/IR_Images_ToCalibrate/*
vision_work/Sync_Images_ToCalibrate/*
vision_work/color_calibrate/*
# Wheel download directory
wheels_linux_py310/*
wheels/*

# virtual environments
venvs/vision_venvs/ultralytics_cpu_env/*
venvs/*

# Temporarily container's start code
#start_container.sh

test_data/kinect_snapshot_20260126_231342/*
rosbag2_2026_01_26-23_26_59/*
rosbag2_2026_01_26-23_26_59.zip
vision_work/YOLO/*
venv_310/*
Yolo_data2_model/*
YOLO dependencies/
01Yolo_model2_data/
vision_work/color_calibrate/*

test_data/kinect_snapshot_20260126_231342/*
rosbag2_2026_01_26-23_26_59/*
rosbag2_2026_01_26-23_26_59.zip/*
vision_work/color images to calibrate/*
legacy code open loop/*
logs/launchers/*