# MoveIt uses this configuration for controller management

moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

moveit_simple_controller_manager:
  controller_names:
    - parol6_arm_controller

  parol6_arm_controller:
    type: FollowJointTrajectory
    action_ns: follow_joint_trajectory
    default: true
    joints:
      - joint_L1
      - joint_L2
      - joint_L3
      - joint_L4
      - joint_L5
      - joint_L6
