# Simulation-only controllers for Gazebo/Ignition (position interface)
controller_manager:
  ros__parameters:
    update_rate: 100 # Hz

    parol6_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

parol6_arm_controller:
  ros__parameters:
    joints:
      - joint_L1
      - joint_L2
      - joint_L3
      - joint_L4
      - joint_L5
      - joint_L6

    command_interfaces:
      - position
    state_interfaces:
      - position

    allow_partial_joints_goal: false
    constraints:
      stopped_velocity_tolerance: 999.0
      goal_time: 0.0
      joint_L1: { trajectory: 999.0, goal: 999.0 }
      joint_L2: { trajectory: 999.0, goal: 999.0 }
      joint_L3: { trajectory: 999.0, goal: 999.0 }
      joint_L4: { trajectory: 999.0, goal: 999.0 }
      joint_L5: { trajectory: 999.0, goal: 999.0 }
      joint_L6: { trajectory: 999.0, goal: 999.0 }
